<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Windows.SDK.NET"
                          publicKeyToken="31bf3856ad364e35"
                          culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.26100.65535"
                         newVersion="10.0.26100.79" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
