# Runtime deps

azure-identity
numpy
openai
pydantic
pytest
pytest-asyncio
pytest-mock
python-dotenv
typechat @ git+https://github.com/microsoft/TypeChat#subdirectory=python

# Build deps

black
build
pyright
